* {
  margin: 2;
  padding: 0;
  box-sizing: border-box;
}

/* barra de navegacion en comun para todos los html */
.navegacion ul{
  background-color: #F5E6D3;
  display: flex;
  flex-direction: row;
  justify-content: center; 
  gap: 1.5rem;         
  list-style: none;    
  margin: 0;
  padding: 0;
}

.navegacion a {
  color: #A0522D;
  text-decoration: none; /* Opcional: quita el subrayado azul/morado por defecto */
  font-family: 'Playfair Display', Georgia, serif;
  text-transform: uppercase;   
}

/* CSS para producto.html */
#footer-column {
  display: flex;
  flex-direction: row;        
  gap: 2rem;                  
}

